.wrapper {
    text-align: center;
    border: 5px solid #147EFB;
    width: 40%;
    margin: 0 auto;
    margin-top: 100px;
    padding: 70px 0;
    border-radius: 10px;
    background-color: white;
}
#calculator {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
input, p, #tip-amount, #total-with-tip {
    width: 240px;
    align-self: center;
}
input {
    height: 25px;
    border-radius: 4px;
    border: 2px solid #147EFB;
    background-color: rgb(241, 241, 241);
}
.results-wrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}
#results {
    display: none;
}
body {
    font-family: 'Roboto', sans-serif;
}
h1 {
    font-size: 2em;
}
p {
    font-size: 1.3em;
}
#tip-output {
    align-self: center;
}
#range {
    margin-top: 8%;
}